<ion-content>
  <swiper-container *ngIf="viewEntered" style="overflow-y: scroll;">
    <swiper-slide>
      <img src="../assets/mirror-images/assembly 3.png"/>
      <h2>👋 Oh hey there!</h2>
      <p><b>Mirror</b> is the digital Journal designed for self-reflection and secrecy.</p>
      <p>Let's get set up and take a quick tour!</p>

      <ion-button color="primary" fill="outline" (click)="next()">✈️ Let's go!</ion-button>
    </swiper-slide>
    <swiper-slide>
      <h2>Home page</h2>
      <p>We designed the home page as a simple way to display journal entries and to easily access features!</p>
      <p>Each journal entry is displayed on cards like the one below which you can click to view. Clicking
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon> will give you some quick options.</p>
      <ion-card style="text-align: left;">
        <ion-card-header>
          <ion-row>
            <ion-col size="11" offset="0" style="--ion-grid-column-padding: 0;">
              <ion-card-title>Chased by a bear</ion-card-title>
              <ion-card-subtitle>Saturday, June 20, 2020 5:00 pm</ion-card-subtitle>
            </ion-col>
            <ion-col size="1" offset="0" style="--ion-grid-column-padding: 0;">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content [innerHTML]="'Today was a wild day... I was just walking to the bus and here comes a giant bear! And I was like...'">
        </ion-card-content>
      </ion-card>
      <p>After using <b>Mirror Journal</b> for a while the app will start suggesting entries from the past for you to reflect on.</p>
      <h4>Creating entries</h4>
      <p>Click the <ion-icon name="menu-outline"></ion-icon> button then click <ion-icon name="add-outline"></ion-icon></p>
      <h4>Unlocking entries</h4>
      <p>Click the <ion-icon name="menu-outline"></ion-icon> button then click <ion-icon name="lock-closed-outline"></ion-icon></p>
      <ion-button color="primary" fill="outline" (click)="next()">👍 Cool Cool Cool</ion-button>
      <br /><br /><br />
    </swiper-slide>
    <swiper-slide>
      <h2>Journal Entries</h2>
      <p>We packed journals with tons of useful features for you to enjoy! </p>
      <p>Journal entries made in <b>Mirror Journal</b> are mostly text based so we created a distraction-free editor that makes it easy to style your text.</p>
      <p>Journal entries can also be tagged with fun emoji reactions that can show context around your day. You can also add an optional image header
      to really spice up your entry.</p>
      <p>You can lock/encrypt their journals with a click of a button and also set expiration dates to have your journal entry deleted after some time!</p>
      <ion-button color="primary" fill="outline" (click)="close()">✨ Fabulous!</ion-button>
      <br /><br />
    </swiper-slide>
  </swiper-container>
</ion-content>
