<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>classic-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>classic-icon</string>
                </array>
            </dict>
            <key>classicitunes-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>classicitunes-icon</string>
                </array>
            </dict>
            <key>classickrita-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>classickrita-icon</string>
                </array>
            </dict>
            <key>classicpride-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>classicpride-icon</string>
                </array>
            </dict>
            <key>mirror-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mirror-icon</string>
                </array>
            </dict>
            <key>mirrorfab-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mirrorfab-icon</string>
                </array>
            </dict>
            <key>mirrorgram-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mirrorgram-icon</string>
                </array>
            </dict>
            <key>mirrorpride-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mirrorpride-icon</string>
                </array>
            </dict>
            <key>mirrortrans-icon</key>
            <dict>
                <key>UIPrerenderedIcon</key>
                <true/>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mirrortrans-icon</string>
                </array>
            </dict>
        </dict>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mirror Journal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getcapacitor.capacitor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capacitor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mirror Journal can use your microphone to translate your voice to text.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mirror Journal let&apos;s you use photos from your device to add to entries</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mirror Journal uses speech recognition to allow you to speak your journals.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
