<ion-content>
  <ion-list>
    <ion-item (click)="editEntry()">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      <ion-label>Edit entry</ion-label>
    </ion-item>
    <ion-item (click)="createNote()">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label>Create note</ion-label>
    </ion-item>
    <ion-item (click)="deleteEntry()">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>Delete entry</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
