ion-card {
    cursor: pointer;
}

.selected {
    border: 2px solid blue;
}

.no-tip {
    user-select: none;
    pointer-events: none;
}

.image-container {
    position: relative;
}

.lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: block;
}
