<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="passcodeSet">Reset passcode</ion-title>
    <ion-title *ngIf="!passcodeSet">Set passcode</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!passcodeSet">
  <img src="../assets/mirror-images/assembly 4.png"/>
  <ion-card>
    <ion-card-content style="text-align: center;">
      This passcode will allow you to encrypt and hide your journals...
      make sure you remember your passcode because you cannot access your journals without it.
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Enter passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Re-enter passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeReinput"></ion-input>
  </ion-item>
  <br />
  <div style="text-align: center;"><ion-button color="primary" fill="outline" (click)="savePassword()"><ion-icon name="save-outline" slot="start"></ion-icon> Save</ion-button></div>
  <div style="text-align: center;"><ion-text color="danger" (click)="dismiss()">Never mind</ion-text></div>
  <br /><br />
</ion-content>


<ion-content *ngIf="passcodeSet">
  <ion-item>
    <ion-label position="stacked">Enter current passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="oldPasscodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Enter new passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Re-enter new passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeReinput"></ion-input>
  </ion-item>
  <br />
  <div style="text-align: center;"><ion-button color="primary" fill="outline" (click)="savePassword()"><ion-icon name="save-outline" slot="start"></ion-icon> Save</ion-button></div>
  <div style="text-align: center;"><ion-text color="danger" (click)="dismiss()">Never mind</ion-text></div>
  <br /><br />
</ion-content>
