<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="passcodeSet">Reset passcode</ion-title>
    <ion-title *ngIf="!passcodeSet">Set passcode</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!passcodeSet">
  <img src="../assets/mirror-images/assembly 4.png"/>
  <ion-card>
    <ion-card-content style="text-align: center;">
      This passcode will allow you to encrypt (AES-256) your journals...
      make sure you remember your passcode because you cannot reset/change without it!<br /><br />
      It can be as long or as short as you'd like just remember the more complicated it is the harder to guess!
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Enter passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Re-enter passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeReinput"></ion-input>
  </ion-item>
  <br />
  <div style="text-align: center;"><ion-button color="primary" fill="outline" (click)="savePassword()"><ion-icon name="save-outline" slot="start"></ion-icon> Save</ion-button></div>
  <div style="text-align: center;"><ion-text color="danger" (click)="dismiss()">Never mind</ion-text></div>
  <br /><br />
</ion-content>


<ion-content *ngIf="passcodeSet">
  <ion-card>
    <ion-card-content style="text-align: center;">
      <b>Forgot your passcode?</b> For now there isn't anything we can do about that because of our method of encrypting
      data (your passcode is not stored locally on device). In a future update, we are working on making the ability
      to continue making locked journals.<br /><br /> Sorry for any inconvenience.
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Enter current passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="oldPasscodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Enter new passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Re-enter new passcode</ion-label>
    <ion-input placeholder="passcode" type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="passcodeReinput"></ion-input>
  </ion-item>
  <br />
  <div style="text-align: center;"><ion-button color="primary" fill="outline" (click)="savePassword()"><ion-icon name="save-outline" slot="start"></ion-icon> Save</ion-button></div>
  <div style="text-align: center;"><ion-text color="danger" (click)="dismiss()">Never mind</ion-text></div>
  <br /><br />
</ion-content>
