<ion-content>
  <swiper-container #swiper *ngIf="viewEntered" style="overflow-y: scroll;" is-locked="true">
    <swiper-slide>
      <img src="../assets/mirror-images/assembly.png"/>
      <h2>✨ What's New ✨</h2>
      <h3>v1.2 - The 🗣️ chatterbox update</h3>
      <p>- Speech to text (BETA) 🎤</p>
      <p>- Autosaving 🔄</p>
      <p>- Unsaved changes indicator 💾</p>
      <p>- Custom text sizes 📝</p>
      <p>- Set menu button location 🆕</p>
      <p>- Much smaller app ~45% less space 🗜️</p>
      <p>- Small UI changes/bug fixes 🐛</p>
      <h3>v1.1 - The 🎨 customization update </h3>
      <p>- Custom time notifications 🔔</p>
      <p>- Themes! 🖼️</p>
      <p>- Hide from memories option 🤫</p>
      <p>- Other small changes 🤏️</p>
      <h3>v1.0.1 - The 🧹 housekeeping update</h3>
      <p>- Renaming journals entries 🖊️</p>
      <p>- Fullscreen editing for iPad ⌨️</p>
      <p>- Blank emoji reactions 😶</p>

      <ion-button color="primary" fill="outline" (click)="close()">👍 Got it!</ion-button>
      <br /><br />
    </swiper-slide>
  </swiper-container>
</ion-content>
