ion-grid {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

ion-title {
    padding-left: 0px;
}

#selected-page {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.details-card .emoji {
    font-size: 30px;
}

.details-card h1 {
    font-size: 30px;
    color: white;
    text-align: center;
}

.details-card p {
    color: white;
    text-align: center;
}
  