<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mirror Journal <ion-chip color="primary"><ion-label>v2</ion-label></ion-chip></ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          General
        </ion-label>
      </ion-item-divider>
      <!--<ion-item detail="true" (click)="rate()">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Rate Mirror Journal</ion-label>
      </ion-item>
      <ion-item detail="true">
        <ion-icon name="browsers-outline" slot="start"></ion-icon>
        <ion-label>Website</ion-label>
      </ion-item>-->
      <ion-item detail="true" (click)="contactUs()">
        <ion-icon name="bug-outline" slot="start"></ion-icon>
        <ion-label>Report a bug/leave a suggestion</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="showWelcomeSceen()">
        <ion-icon name="compass-outline" slot="start"></ion-icon>
        <ion-label>Guide</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="whatsNew()">
        <ion-icon name="color-wand-outline" slot="start"></ion-icon>
        <ion-label>What's New?</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="privacyPolicy()">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Customization
        </ion-label>
      </ion-item-divider>
      <ion-item detail="true" (click)="openIconModal()">
        <ion-icon name="layers-outline" slot="start"></ion-icon>
        <ion-label>Change icon</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notifications</ion-label>
        <ion-toggle [(ngModel)]="notifications" (ionChange)="setNotifications"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>Notify me at</ion-label>
        <ion-datetime [(ngModel)]="time" presentation="time" (ionChange)="schedule()" display-format="h:mm A" picker-format="h:mm A" [disabled]="!notifications"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="save-outline" slot="start"></ion-icon>
        <ion-label>Autosave</ion-label>
        <ion-toggle [(ngModel)]="autosave" (ionChange)="setAutosave()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="brush-outline" slot="start"></ion-icon>
        <ion-label>Theme</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="theme" (ionChange)="changeTheme()">
          <ion-select-option value="default">Blue</ion-select-option>
          <ion-select-option value="teal">Teal</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="pink">Pink</ion-select-option>
          <ion-select-option value="grey">Grey</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="menu-outline" slot="start"></ion-icon>
        <ion-label>Menu Button Placement</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="menuplacment" (ionChange)="changeMenuplacement()">
          <ion-select-option value="0">Left</ion-select-option>
          <ion-select-option value="1">Center</ion-select-option>
          <ion-select-option value="2">Right</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label>Menu labels</ion-label>
        <ion-toggle [(ngModel)]="menuLabel" (ionChange)="saveMenuLabel()"></ion-toggle>
      </ion-item>
      <!--<ion-item detail="true">
        <ion-icon name="text-outline" slot="start"></ion-icon>
        <ion-label>Font settings</ion-label>
      </ion-item>-->
    </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Security
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="changeLockCode()" detail="true">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label>Set or change passcode</ion-label>
      </ion-item>
      <!--<ion-item>
        <ion-icon *ngIf="authType == 'FaceID'" name="scan-outline" slot="start"></ion-icon>
        <ion-icon *ngIf="authType == 'TouchID'" name="finger-print-outline" slot="start"></ion-icon>
        <ion-label>Lock with {{ authType }}</ion-label>
        <ion-toggle [(ngModel)]="secureWithID" (ionChange)="saveSecureWithID()"></ion-toggle>
      </ion-item>-->
    </ion-item-group>
  </ion-list>
  <!--<ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Advanced
        </ion-label>
      </ion-item-divider>
      <ion-item (click)="deleteCache()" detail="true">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>(DEV) Delete cache</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon *ngIf="authType == 'FaceID'" name="scan-outline" slot="start"></ion-icon>
        <ion-icon *ngIf="authType == 'TouchID'" name="finger-print-outline" slot="start"></ion-icon>
        <ion-label>Lock with {{ authType }}</ion-label>
        <ion-toggle [(ngModel)]="secureWithID" (ionChange)="saveSecureWithID()"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>-->
  <br /><br /><br />
</ion-content>
